@font-face {
    font-family: 'Poppins';
    src: url();
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins';
}
body{
    background-color: rgb(28,27,31);
}

/* NAVIGASI */

header{
    width: 100%;
    height: 100px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    margin: 0 auto;
}
.logo{
    color: white;
    padding-top: 8px;
}
nav .logo{
    display: none;
}
nav ul{
    display: flex;
}
nav ul li a{
    color: rgb(255, 255, 255);
    display: block;
    margin: 0px 2px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.2s;
    text-align: center;
    border-radius: 5px;
}
nav ul li a:hover{
    color:rgb(208,188,255) ;
}
nav ul li a.active{
    color:rgb(208,188,255);
}
#Join{
    background-color:rgb(208,188,255) ;
    color: black;
}
#Join:hover{
    color:rgb(255, 255, 255);
    background-color: rgb(135, 83, 255) ;
}
.hamburger{
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
}
.hamburger:hover{
    background-color: rgb(80, 80, 80);
}
.hamburger div{
    width: 25px;
    height: 2px;
    margin: 6px 0px;
    background: rgb(255, 255, 255);
}

/* HERO */

.hero{
    display: grid;
    width: 90%;
    margin: 70px auto 100px auto;
}
.hero-content{
    display: flex;
    justify-content: space-between;
}
.text{
    margin: 100px auto auto auto ;
    color: white;
    padding-right: 60px;
}
.text h1{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 1;
}
.text h4{
    font-weight: 300;
}
.text p{
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 10px;
}
.button{
    margin-top: 30px;
}
.info{
    background-color:rgb(208,188,255) ;
    color: black;
    padding: 10px;
    border-radius: 5px;
}
.info:hover{
    color:rgb(255, 255, 255);
    background-color: rgb(135, 83, 255) ;
}
.hero-img{
    width: 50%;
}


/* ISI */

.isi{
    display: grid;
    width: 90%;
    margin: 70px auto 100px auto;
}
.isi div h1{
    text-align: center;
    color: white;
    font-size: 40px;
}
.menu{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 50px;
    margin: 50px;
    color: white;
}
.menu-item{
    background-color:rgb(58,56,68) ;
    height: max-content;
    padding: 20px;
    border-radius: 15px;
}
.menu-item:hover{
    box-shadow: 1px 1px 5px rgb(135, 83, 255);
}
.menu-item img{
    display: flex;
    justify-content: center;
    margin: 40px auto;
    margin-bottom: 10px;
    width: 60px;
}
.menu-item h3{
    text-align: center;
    margin: 30px 0;
    color: rgb(135, 83, 255) ;
}

/* ISI2 */

.isi2{
    display: grid;
    width: 90%;
    margin: 70px auto 100px auto;
}
.aboutus h1{
    text-align: center;
    color: white;
    font-size: 40px;
}
.isi2 div h4{
    font-weight: 300;
}
.isi2 div h4{
    display: grid;
    text-align: center;
    padding: 20px 100px;
    color: white;
    font-size: 20px;
}


/* ISI3 */

.isi3{
    display: grid;
    width: 90%;
    margin: 70px auto 100px auto;
}
.acara h1{
    text-align: center;
    color: white;
    font-size: 40px;
}

/* POPUP */

.popup{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 70px auto;
    color: white;
    background-color: rgb(51,119,242);
    padding: 50px;
    border-radius: 10px;
}
.kiri{
    width: 70%;
}
.tittle h2{
    text-align: left;
    font-size: 30px;
    margin-bottom: 10px;
}
.deskripsi h3{
    text-align: left;
    font-size: 15px;
    padding-right: 20%;
    font-weight: 300;
}


/* FOOTER */

footer{
    width: 100%;
    height: 150px;
    background-color: rgb(58,56,68);
    color: white;
    padding-top: 10px;
    margin: 0 auto;
}
.footer{
    font-weight: 300;
    text-align: center;
    line-height: 2;
}
.footer h3{
    margin-top: 5px;
}

@media screen and (min-width: 1396px){

    body{
        display: grid;
        align-items: stretch;
        justify-content: stretch;
        width: 1397px;
        height: auto;
        margin: auto;
        padding: auto;
        
    }
    .hero-img-phone img{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    /* NAVIGASI */

    header{
        width: 100%;
        padding: 0 20px;
    }
    nav{
        position: absolute;
        left: 0;
        top: 80px;
        z-index: 999;
        width: 100%;
        height: fit-content;
        background-color: rgb(58,56,68);
        transition: 0.2s;
    }
    #navcheck:checked ~ nav{
        display: none;
    }
    nav .logo{
        display: block;
        justify-content: center;
        margin-left: 30px;
    }
    nav ul li a{
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;
    }
    nav ul{
        display: block;
        padding: 0 20px;
        margin-top: 5px;
    }
    #Join{
        margin-bottom: 50px;
        width: fit-content;
        margin: 10px auto ;
    }
    .hamburger{
        display: block;
    }

    /* HERO */

    .hero{
        display: grid;
        width: 90%;
        margin-top: -40px ;
    }
    .hero-content{
        display: grid;
    }
    .hero-img{
        width: 40%;
        justify-content: center;
        margin-top: 30px;
        margin-left: 20%;
    }

    /* POPUP */

    .popup{
        display: grid;
        width: 90%;
        margin: 70px auto;
        color: white;
        background-color: rgb(51,119,242);
        padding: 50px;
        border-radius: 10px;
    }
    .kiri{
        width: 100%;
    }
    .tittle h2{
        text-align: left;
        font-size: 30px;
        margin-bottom: 10px;
    }
    .deskripsi h3{
        font-size: 15px;
        font-weight: 300;
    }


}

@media screen and (max-width: 768px){

    /* NAVIGASI */

    header{
        width: 100%;
        padding: 0 20px;
    }
    nav{
        position: absolute;
        left: 0;
        top: 80px;
        z-index: 999;
        width: 100%;
        height: fit-content;
        background-color: rgb(58,56,68);
        transition: 0.2s;
    }
    #navcheck:checked ~ nav{
        display: none;
    }
    nav .logo{
        display: block;
        justify-content: center;
        margin-left: 30px;
    }
    nav ul li a{
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;
    }
    nav ul{
        display: block;
        padding: 0 20px;
        margin-top: 5px;
    }
    #Join{
        margin-bottom: 50px;
        width: fit-content;
        margin: 10px auto ;
    }
    .hamburger{
        display: block;
    }

    /* HERO */

    .hero{
        max-width: 100%;
        margin-top: -40px ;
    }
    .hero-content{
        display: grid;
        max-width: 100%;
        width: 100%;

    }
    .hero-content .text{
        width: 100%;
    }
    .hero-content .text h1{
        font-size: 45px;
    }
    .hero-img img{
        max-width: 180%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;    
    }

    /* ISI */

    .isi{
        max-width: 100%;
        width: 90%;
    }
    .isi div h1{
        font-size: 30px;
        margin: auto 0;
    }
    .menu{
        margin: 50px 0;
    }

    /* ISI2 */

    .isi2{
        display: grid;
        max-width: 100%;
        width: auto;
    }
    .aboutus h1{
        text-align: center;
        font-size: 30px;
    }
    .isi2 div h4{
        text-align: center;
        font-size: 15px;
        padding-left: 10%;
        padding-right: 10%;
    }

    /* ISI3 */

    .acara{
        width: auto;
    }
    .acara h1{
        font-size: 30px;
    }
    
    /* POPUP */

    .popup{
        max-width: 100%;
        display: grid;
        width: 90%;
        margin: 70px auto;
        color: white;
        background-color: rgb(51,119,242);
        padding: 50px;
        border-radius: 10px;
    }
    .kiri{
        width: 100%;
    }
    .tittle h2{
        text-align: left;
        font-size: 30px;
        margin-bottom: 10px;
    }
    .deskripsi h3{
        font-size: 15px;
        font-weight: 300;
    }

    /* FOOTER */



}